#my-postcard {
    width: 600px;
    height: 350px;
    display: flex;
    flex-direction: column;
}

img {
    width: 75px;
    height: 75px;
}

.miclase {
    display: flex;
    justify-content: space-between;
    width: 100%
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 36px;
    font-size: 26px;
}

p {
    margin-top: 3px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 21px;
}


ul {
    color: rgb(197, 191, 191);
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 60px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


u {
    margin-top: 0%;
    margin-bottom: 20px;
    margin-left: 300px;
    margin-right: 200px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    margin-top: 150px;
    margin-bottom: 150px;
    margin-right: 150px;
    margin-left: 180px;
    margin-block: 12px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(183, 183, 183);
    border: none;
    padding: 4px;
}

.usar-mitad {
    width: 50%;
}

.mitad-derecha {
    margin-top: 4px;
    margin-left: 10px;
}

input {
    border: none;
    border-bottom: 1px solid hwb(0 48% 50%);
    margin-bottom: 14px;
    color: hsl(0, 0%, 60%)
}
